&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    bme680@76 {
        compatible = "bosch,bme680";
        reg = <0x76>;
        label = "BME680";
        status = "okay";
    };

    veml7700@10 {
        compatible = "vishay,veml7700";
        reg = <0x10>;
        label = "VEML7700";
        status = "okay";
    };
};
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            low-power-enable;
        };
    };

};


// &pinctrl {
//     i2c0_default: i2c0_default {
//         group1 {
//             psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
//                     <NRF_PSEL(TWIM_SCL, 0, 27)>;
//         };
//     };

//     i2c0_sleep: i2c0_sleep {
//         group1 {
//             psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
//                     <NRF_PSEL(TWIM_SCL, 0, 27)>;
//             low-power-enable;
//         };
//     };

// };


// // &i2c1 {
// //     compatible = "nordic,nrf-twim";
// //     status = "okay";

// //     clock-frequency = <I2C_BITRATE_STANDARD>;

// //     mysensor: veml7700@10 {
// //         status = "okay";
// //         compatible = "vishay,veml7700";
// //         reg = <0x10>;
// //         psm-mode = <0x00>;
// //         label = "VEML7700";

// //     };
// //     // mysensor: veml7700@10 {
// //         //     compatible = "veml7700";
// //         //     reg = <0x10>;
// //         //     label = "VEML7700";
// //     // };
// // };

// &i2c0 {
//     compatible = "nordic,nrf-twim";
//     status = "okay";

//     clock-frequency = <I2C_BITRATE_STANDARD>;

//     veml7700: veml7700@10 {
//         compatible = "vishay,veml7700";
//         reg = <0x10>;
//         status = "okay";
//         label = "VEML7700";
//     };
// };
















